@model List<Character>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var characters in @Model)
{
    <div class="card" style="width: 18rem; float:left;">
        <img src=@characters.Image class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@characters.Name</h5>
            <p class="card-text">@characters.Id</p>
            <p class="card-text">@characters.Species</p>
            <p class="card-text">@characters.Status</p>
            <p class="card-text">@characters.Gender</p>
            <a href="#" class="btn btn-primary">Rick And Morty</a>
        </div>
    </div>
}

